*.xml linguist-detectable=true
*.xml linguist-documentation=false
*.xml linguist-language=XML

*.kt linguist-detectable=true
*.kt linguist-documentation=false
*.kt linguist-language=Kotlin

*.kts linguist-detectable=true
*.kts linguist-documentation=false
*.kts linguist-language=Kotlin
