name: Build Android APK

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./source-code
        run: npm install

      - name: Build Web Assets
        working-directory: ./source-code
        run: npm run build

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Sync Capacitor
        working-directory: ./source-code
        run: npx cap sync android

      - name: Build APK with Gradle
        # Wejście do folderu android, który jest wewnątrz source-code
        working-directory: ./source-code/android
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: hackeros-app-debug
          # Pełna ścieżka do pliku wynikowego
          path: source-code/android/app/build/outputs/apk/debug/app-debug.apk
